<form id="sign-in" action="/session" method="POST">
  <input type="hidden" name="_csrf_token" value="<%=csrf_token%>"/>
  <div class="label"><%=I18n.t('Username')%></div>
  <input type="text" name="username"/><br/>
  <div class="label"><%=I18n.t('Password')%></div>
  <input type="password" name="password"/>
  <input type="submit" value="<%= I18n.t('Sign In') %>"/>
</form>
