@import 'colours.css.scss';
@import 'sizes.css.scss';
@import 'constrained-text-block.css.scss';

@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-It.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-BoldIt.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font_size_base;
  background-color: $background_colour;
}
@media (max-width: 900px) {
  html { font-size: $font_size_base * 0.9; }
}
@media (max-width: 400px) {
  html { font-size: $font_size_base * 0.8; }
}

body {
  margin: 0;
}

#nav {
  background-color: $primary_colour;
  color: white;
  padding: 0.8rem;
  line-height: 1.5em;
  font-size: $font_size_smaller;

  a {
    color: $contrasting_primary_colour;
    text-decoration-color: transparentize($contrasting_primary_colour, 0.5);
  }

  ul {
    margin: 0;
    padding: 0;
    @include constrained_text_block;

    li {
      display: inline;
      margin-right: 0.5em;
    }
  }
}

main {
  padding: 2rem;

  :first-child {
    margin-top: 0;
  }
}

article {
  @include constrained_text_block;
}

article :first-child {
  margin-top: 0;
}

a {
  color: $primary_colour;
  text-decoration-color: transparentize($primary_colour, 0.5);
}
