@import 'colours.css.scss';
@import 'constrained-text-block.css.scss';
@import 'focus.css.scss';
@import 'sizes.css.scss';

@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-It.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-BoldIt.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

@mixin font_defaults {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font_size_base;
}

html {
  @include font_defaults;
  background-color: $background_colour;
}
@media (max-width: 900px) {
  html { font-size: $font_size_base * 0.9; }
}
@media (max-width: 400px) {
  html { font-size: $font_size_base * 0.8; }
}

body {
  margin: 0;
}

#nav {
  background-color: $primary_colour;
  color: white;
  padding: 0.8rem;
  line-height: 1.5em;
  font-size: $font_size_smaller;

  a:not(:focus) {
    color: $contrasting_primary_colour;
    text-decoration-color: transparentize($contrasting_primary_colour, 0.5);
  }

  ul {
    margin: 0;
    padding: 0;
    @include constrained_text_block;

    li {
      display: inline;
      margin-right: 0.5em;
    }
  }
}

main {
  padding: 2rem;

  :first-child {
    margin-top: 0;
  }
}

article {
  @include constrained_text_block;
}

article :first-child {
  margin-top: 0;
}

a {
  color: $primary_colour;
  text-decoration-color: transparentize($primary_colour, 0.5);

  &:focus {
    background-color: $lighter_primary_colour;
    color: $contrasting_lighter_primary_colour;
    outline: none;
  }
}

.button-primary {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  background-color: $primary_colour;
  border-color: $primary_colour;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: $contrasting_primary_colour;
  cursor: pointer;
  display: block;
  @include font_defaults;
  font-size: $font_size_smaller;
  font-weight: bold;
  margin-top: 1em;
  overflow: visible;
  padding: 0.5em 1em;
  text-align: center;
  white-space: nowrap;

  &:focus {
    @include focus_defaults;
    color: $starkly_contrasting_primary_colour;
  }
}

form {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;

    input[type="text"], input[type="password"] {
      display: block;
    }
  }

  textarea, input[type="text"], input[type="password"] {
    padding: 0.5em;
    border-radius: 4px;
    border: 2px solid $very_light_secondary_colour;
    font-size: $font_size_base;

    &:focus {
      @include focus_defaults;
    }
  }
}
