$light_taupe: #a39366;
$lime_green: #42c44b;
$lincoln_green: #196b1f;
$medium_ruby: #aa4465;
$olive_drab: #3d3726;
$pine_green: #1b4b1e;
$sand: #f0e7ce;
$tea_green: #cee8d0;
$white_smoke: #f7faf7;

$primary_colour: $lincoln_green;
$lighter_primary_colour: $lime_green;
$faint_primary_colour: $tea_green;
$secondary_colour: $olive_drab;
$lighter_secondary_colour: $light_taupe;
$very_light_secondary_colour: $sand;
$tertiary_colour: $pine_green;
$background_colour: $white_smoke;
$error_colour: $medium_ruby;

$contrasting_primary_colour: $sand;
$contrasting_lighter_secondary_colour: black;
$contrasting_secondary_colour: $sand;
$contrasting_error_colour: white;
$contrasting_lighter_primary_colour: black;
